<html>
    <head>

        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="CodeCouple.pl - autocomplete example"/>
        <meta name="author" content="CodeCouple"/>

        <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'/>
        <link href='../webjars/bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet' type='text/css'/>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>

        <script src="../webjars/jquery/1.11.1/jquery.min.js"></script>
        <script src='../webjars/bootstrap/3.3.5/js/bootstrap.min.js'></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <script src="../js/script.js"></script>

        <title>CodeCouple.pl - autocomplete example</title>

    </head>
    <body>
        <div class="container">
            <div class="row">
                <input type="text" id="product_name" class="form-control" placeholder="Product name here..."/>
            </div>
        </div>
    </body>
</html>